<!DOCTYPE html>
<html>
  <head>
  
    <!-- Style sheets -->
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    
    <!-- Scripts -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-FDYV-XyExcrU-XhS3G59-sBpuhoDJuA"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=false"></script>
    <script type="text/javascript" src="scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
    
    <title> Signal Mapper </title>
    
  </head>
  
  <body>
    <div class="mainBody" data-ng-app="" data-ng-controller="updateMapController">
      <div class="optionsBar"> 
        <h1>Signal Mapper</h1>
        <div class="innerBox">
          <br />
          <div class="filterBlock">
            <div class="filterHeader"> Operators <span class="allCB">[<input type="checkbox" /> All]</span></div>
            <ul><li data-ng-repeat="operator in operators"><input type="checkbox" />{{operator.name}}</li></ul>
          </div>
          <div class="filterBlock">
            <div class="filterHeader"> Technologies <span class="allCB">[<input type="checkbox" /> All]</span></div>
            <ul><li data-ng-repeat="technology in technologies"><input type="checkbox" />{{technology.name}}</li></ul>
          </div>
          <div class="filterBlock">
            <div class="filterHeader"> Datasets <span class="allCB">[<input type="checkbox" /> All]</span></div>
            <ul><li data-ng-repeat="dataset in datasets"><input type="checkbox" />{{dataset.name}}</li></ul>
          </div>
          <div class="optionsBlock">
            <div class="optionHeader"> Options </div><br />
            <input type="checkbox" data-ng-model="drawGrid" data-ng-change="drawGridLinesFn()"/>&nbsp;Draw Grid Lines<br /><br />
          </div>
        </div>
      </div>
      <div class="mapContainer"> <div class="mapCanvas" id="map-canvas"></div></div>
      <div class="fotterBar"> 
        <div class="innerBox"> <span style="font-size:150%; vertical-align:middle;"> &copy; </span> 2014. All rights reserved </div>
      </div>
    </div>
  </body>
  
</html>