<!DOCTYPE html>
<html>
  <head>
  
    <!-- Style sheets -->
    <link href='http://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    
    <!-- Scripts -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-FDYV-XyExcrU-XhS3G59-sBpuhoDJuA"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=false"></script>
    <script type="text/javascript" src="scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
    
    <title> Signal Mapper </title>
    
  </head>
  
  <body>
    <div class="mainBody" data-ng-app="">
      <div class="optionsBar" data-ng-controller="selectOptionsController"> 
        <h1>Signal Mapper</h1>
        <div class="innerBox">
          <br />
          <select data-ng-model="tech" data-ng-options="technology.name for technology in technologies"><option value="">-- choose a technology --</option></select><br /><br />
          <select data-ng-model="optr" data-ng-options="operator.name for operator in operators"><option value="">-- choose an operator --</option></select><br /><br />
          <select data-ng-model="data" data-ng-options="dataset.name for dataset in datasets"><option value="">-- choose a dataset --</option></select><br /><br />
        </div>
      </div>
      <div class="mapContainer"> <div class="mapCanvas" id="map-canvas" data-ng-controller="updateMapController"></div></div>
      <div class="fotterBar"> 
        <div class="innerBox"> <span style="font-size:150%; vertical-align:middle;"> &copy; </span> 2014. All rights reserved </div>
      </div>
    </div>
  </body>
  
</html>